/* //// TEMPALETE SEVEN //// */

*{
    margin: 0;
    font-family: 'Russo One', sans-serif;
}

body {
    background-image: url(https://appdarenda.com/precdr/images/background.jpg);
    background-position: bottom center!important;
    background-size: cover;
    background-repeat: no-repeat;
}

section {
    width: 100vw;
    height: 100vh;
    padding-top: 120px;
    background-color: rgba(0,77,107,.74);
    text-align: center;

}

#att {
    
    font-size: 2.2rem;
    color: white;
    margin-bottom: 2px;
    text-transform: uppercase;

}

h1 {
    font-size: 3.4rem;
    color: #F6FF00;
    font-weight: 800;
    margin-top: 0px;
    text-transform: uppercase;
}

.text {
    width: 60%;
    margin: 0 auto;
}


.text p {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 500;
}

#assist {
    font-size: 1.3rem;
    color: #fff;
    padding-top: 30px;
}


#btn {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    border: 5px solid #56b856;
    padding: 20px;
    border-radius: 50px;
    background-color: #56b856;
    box-shadow: 0px 0px 20px #56b856;
    animation: btnAnimation .8s infinite;
    max-width: 50%;
    margin: 0 auto;
    font-weight: bold;
    font-style: italic;
    
    
}

@keyframes btnAnimation {
    0% {
        transform: scale(.8);
    }
    50% {
        transform:scale(.9)
    }
    100% {
        transform:scale(.8)
    }


}
