/* //// TEMPALETE SIX //// */
.tmp-six-btn{
    transition: all .4s;
    border: 1px solid #212529;
    background: var(--bg-color);
    color: var(--text-color);
}

.tmp-six-btn:hover{
    background: var(--text-color);
    color: var(--bg-color);
}